<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!-- Set the threshold to "info" in production system. This will filter out all debug messages. If you only want to enable/disable 
	debugging for certain parts of the system, change the "level" attribute of the appropriate logger. -->
<log4j:configuration debug="false" threshold="debug" xmlns:log4j='http://jakarta.apache.org/log4j/'>



	<!-- Create a ConsoleAppender. -->
	<appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c %x - %m%n" />
		</layout>
	</appender>

	<!-- Create a RollingFileAppender. Log messages are written to the file specified in the ${process.log.file} system property. 
		The file size is limited to 10MB; once this size is reached the file is truncated and backed up and a new file is started. 
		If the specified file cannot be opened or the ${process.log.file} property has not been specified on the command line, the 
		FallbackFileAppender is used instead. -->

	<appender name="FileAppender" class="org.apache.log4j.RollingFileAppender">
		<errorHandler class="org.apache.log4j.varia.FallbackErrorHandler">
			<root-ref />
			<appender-ref ref="ConsoleAppender" />
		</errorHandler>
		<param name="Append" value="true" />
		<param name="File" value="${process.log.path}/gateway.log" />
		<param name="MaxBackupIndex" value="2" />
		<param name="MaxFileSize" value="10MB" />
		<param name="BufferedIO" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c %x - %m%n" />
		</layout>
	</appender>

	<appender name="OgnGatewayPluginsLogAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="Append" value="true" />
		<param name="File" value="${process.log.path}/plugins.log" />
		<param name="MaxFileSize" value="5MB" />
		<param name="MaxBackupIndex" value="2" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-d{yyy-MM-dd HH:mm:ss.SSS} %m%n" />
		</layout>
	</appender>

	<appender name="AprsBeaconsFileAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${process.log.path}/aprs.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-d{yyy-MM-dd HH:mm:ss.SSS} %m%n" />
		</layout>
	</appender>

	<appender name="AprsReceiverBeaconsFileAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${process.log.path}/receivers.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-d{yyy-MM-dd HH:mm:ss.SSS} %m%n" />
		</layout>
	</appender>


	<!-- Create a RollingFileAppender. Log messages are written to a file name "ogn-gateway.log" in the temp directory. The 
		file size is limited to 10MB; once this size is reached the file is truncated and backed up and a new file is started. If 
		the specified file cannot be opened, the FallbackConsoleAppender is used instead. THIS IS ONLY A FALLBACK SOLUTION. -->

	<appender name="FallbackFileAppender" class="org.apache.log4j.RollingFileAppender">
		<errorHandler class="org.apache.log4j.varia.FallbackErrorHandler">
			<root-ref />
			<appender-ref ref="ConsoleAppender" />
		</errorHandler>
		<param name="File" value="${java.io.tmpdir}/ogn-gateway.log" />
		<param name="Append" value="true" />
		<param name="MaxBackupIndex" value="1" />
		<param name="MaxFileSize" value="10MB" />
		<param name="BufferedIO" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c %x - %m%n" />
		</layout>
	</appender>

	<!-- all spring related output -->
	<logger name="org.springframework" additivity="false">
		<level value="warn" />
		<appender-ref ref="FileAppender" />
	</logger>

	<logger name="OgnGatewayPluginsLog" additivity="false">
		<level value="info" />
		<appender-ref ref="OgnGatewayPluginsLogAppender" />
	</logger>

	<!-- log all stuff from aprs beacons -->
	<logger name="org.ogn.commons.beacon.impl.aprs" additivity="false">
		<level value="info" />
		<appender-ref ref="AprsBeaconsFileAppender" />
	</logger>

	<!-- log all receiver beacons received -->
	<logger name="ReceiverBeaconsLog" additivity="false">
		<level value="info" />
		<appender-ref ref="AprsReceiverBeaconsFileAppender" />
	</logger>

	<logger name="org.ogn" additivity="false">
		<level value="info" />
		<appender-ref ref="FileAppender" />
	</logger>

	<logger name="org.ogn.gateway" additivity="false">
		<level value="debug" />
		<appender-ref ref="FileAppender" />
	</logger>

	<root>
		<level value="debug" />
		<appender-ref ref="FileAppender" />
	</root>

</log4j:configuration>